{{#each animals}}
<div class="row">
    {{#each this}}
    <div class="col-xs-12 col-md-4">  
      <div class="thumbnail clearfix">
        <a href="/animal/profile/{{this.id}}">
          <img class="img-responsive" src="/{{this.imagePath}}" alt="...">
        </a>
        <p>{{this.age}}months</p>
        <p id="description" class="desc">{{this.description}}</p>
      </div>
    </div>
    {{/each}}
</div>
{{/each}}