.thumbnail img {
  width: 100%;
  max-height: 100%
}
.index-image-containter {
  height: 280px;
  display: flex;
  align-items: center
}
#body {
  background-image: url('../images/background2.jpg');
  background-repeat: repeat
}
#logo {
  max-width: 160%;
  max-height: 160%;
  margin-top: -5px
}
.animal-image {
  min-width: 100%;
  min-height: 100%
}
.myAnnimalsName {
  font-size: 24px
}
.animal-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 10px
}
.animal-age {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 10px
} 
.unseen.panel-heading {
  background-color: #337ab7;
  color: white
}
.response {
  margin-right: 10px;
  margin-bottom: 10px
}
.myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
.panel-heading {
  cursor: pointer
}